.App * {
  color: white;
}

.correct {
  color: rgb(71, 255, 71);
}

li.correct {
  color: rgba(211, 211, 211, 0.5)
}

.error {
  color: rgb(255, 71, 71);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
}

.App-results * {
  font-size: calc(10px + 1vmin);
}

.App-results {
  border-right: 1px solid gainsboro;
  padding-right: 15px;
  min-width: 25vw;
}

.App-main * {
  text-align: center;
  font-size: calc(24px + 2vmin);
}

.App-main {
  flex-grow: 1;
}

.App-button {
  border: 0;
  padding: 10px;
  background-color: #61dafb;
  color: black;
}

.App-button:disabled{
  padding: 10px;
  background-color: #61dafb3a;
  color: black;
}
